<div class="authentication_form">
  <h2>Please Register:</h2>

  <ul class="flashes">
    <% @user.errors.full_messages.each do |error| %>
      <li class="error"><%= error %></li>
    <% end %>
  </ul>

  <%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.telephone_field :phone_number %>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "8 chars 1 lowercase, 1 uppercase, 1 digit" %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Submit" %>
  <% end %>
</div>