<h1>Here are all your events</h1>

<ul>

  <% @events.each do |event| %>
    <li><a href="/events/<%= event.id %>"><%= event.name %></a>
      <%= event.description %>
      <%= event.date %>
      <%= event.location %></li>
  <% end %>

</ul>