  <h1>My events</h1>
  <ul class="events">
    <% @events.each do |event| %>
      <li class="event_synopsis">
        <div class="date">
          <div class="day"><strong><%= event.date.strftime('%b %d')  %></strong></div>
          <div class="day"><%= event.date.strftime('%a')%></div>
        </div>
        <div class="event_info">
          <div class="title"><%=link_to event.name, event_path(event.id) %> ||
            <%= event.location %></div>
          <div class="time"><strong>When</strong>: <%= event.date.strftime('%b %d, %Y') %> at <%= time_to_12_hour(event.start_time) %></div>

        </div>
      </li>
    <% end %>
  </ul>

<div id="attending">
  <h1>Events Attending</h1>
  <ul class="events">
    <% @attending.each do |event| %>
      <li class="event_synopsis">
        <div class="date">
          <div class="day"><strong><%= event.date.strftime('%a') %></strong></div>
          <div class="day"><%= event.date.strftime('%b %d') %></div>
        </div>
        <div class="event_info">
          <div class="title"><%=link_to event.name, event_path(event.id) %> ||
            <%= event.location %></div>
          <div class="time"><strong>When</strong>: <%= event.date.strftime('%b %d, %Y') %> at <%= time_to_12_hour(event.start_time) %></div>
        </div>
      </li>
    <% end %>
  </ul>
  </ul>
</div>

<div id="waitlisted">
  <h1>Events Waitlisted</h1>
  <ul class="events">
    <% @waitlist.each do |event| %>
      <li class="event_synopsis">
        <div class="date">
          <div class="day"><strong><%= event.date.strftime('%a') %></strong></div>
          <div class="day"><%= event.date.strftime('%b %d') %></div>
        </div>
        <div class="event_info">
          <div class="title"><%=link_to event.name, event_path(event.id) %> ||
            <%= event.location %></div>
          <div class="time"><strong>When</strong>: <%= event.date.strftime('%b %d, %Y') %> at <%= time_to_12_hour(event.start_time) %></div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

  <div id="calendar">
    <h2>Copy this link to add to your personal calendar:</h2>
    <%= link_to "#{user_calendar_url(@calendar_token)}.ics", "#{user_calendar_url(@calendar_token)}.ics", format: :ics %>
  </div>