<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<div class="search_box">
  <%= form_tag(events_path, method: "get") do %>
    <%= label_tag(:search, "Search for events:") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag"Search", :name => nil%>
  <% end %>

</div>


<ul class="events">
  <% @events.each do |event| %>
    <li class="event_synopsis">
      <div class="date">
        <div class="day"><strong><%= event.date.strftime('%a') %></strong></div>
        <div class="day"><%= event.date.strftime('%b %d') %></div>
      </div>
      <div class="event_info">
        <div class="title"><a href="events/<%= event.id %>"><%= event.name %></a></div>
        <div class="time"><strong>When</strong>: <%= event.date.strftime('%b %d, %Y') %> at <%= time_to_12_hour(event.start_time) %></div>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @events %>

