<%= flash.now[:notice] if flash[:notice] %>


<% if @events.any? %>
    <ul class="events">
      <%= render partial: 'event', collection: @events %>
    </ul>
<% else %>
    <div>Your search for <%= @search %> did not return any results.</div>
    <p><%= link_to "Return to Homepage", root_path %></p>
<% end %>

<%= paginate @events %>

