<%= flash.now[:notice] if flash[:notice] %>


<%= link_to 'Add Event', new_event_path %>

<ul>

<% @events.each do |event| %>
    <li><a href="events/<%= event.id %>"><%= event.name %></a>
  <%= event.description %>
  <%= event.date %>
  <%= event.location %></li>
<% end %>

</ul>