<div class="event_form">
  <h2>Please Add an Event</h2>
  <%= form_for @event do |f| %>
      <% if @event.errors.present? %>
          <div class="errors">
            <ul class="errors">
              <% @event.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :date %>
      <%= f.date_field :date, id: "event_date" %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :capacity %>
      <%= f.number_field :capacity %>

      <%= f.label :start_time %>
      <%= f.select :start_time, [["12am", "00:00"], ["1am", "01:00"], ["2am", "02:00"], ["3am", "03:00"], ["4am", "04:00"], ["5am", "05:00"], ["6am", "06:00"], ["7am", "07:00"], ["8am", "08:00"], ["9am", "09:00"], ["10am", "10:00"], ["11am", "11:00"], ["12pm", "12:00"], ["1pm", "13:00"], ["2pm", "14:00"], ["3pm", "15:00"], ["4pm", "16:00"], ["5pm", "17:00"], ["6pm", "18:00"], ["7pm", "19:00"], ["8pm", "20:00"], ["9pm", "21:00"], ["10pm", "22:00"], ["11pm", "23:00"]] %>

      <%= f.label :end_time %>
      <%= f.select :end_time, [["12am", "00:00"], ["1am", "01:00"], ["2am", "02:00"], ["3am", "03:00"], ["4am", "04:00"], ["5am", "05:00"], ["6am", "06:00"], ["7am", "07:00"], ["8am", "08:00"], ["9am", "09:00"], ["10am", "10:00"], ["11am", "11:00"], ["12pm", "12:00"], ["1pm", "13:00"], ["2pm", "14:00"], ["3pm", "15:00"], ["4pm", "16:00"], ["5pm", "17:00"], ["6pm", "18:00"], ["7pm", "19:00"], ["8pm", "20:00"], ["9pm", "21:00"], ["10pm", "22:00"], ["11pm", "23:00"]] %>

      <%= f.label :category %>
      <%= f.text_field :category %>

      <%= f.label :event_pic %>
      <%= f.file_field :event_pic %>

      <%= f.submit "Create Event" %>

  <% end %>
</div>

