<%= flash.now[:notice] %>

<ul>
  <li><%= @event.name %></li>
  <li><%= @event.location %></li>
  <li><%= @event.date %></li>
  <li><%= @event.description %></li>
  <% if @user %>
    <li>Capacity: <%= @event.capacity %></li>
  <% end %>
  <li><%= @event.category %></li>
</ul>

<% if @user && @event.user.id == @user.id %>
  <h3><%= link_to 'Edit this Event', edit_event_path(@event) %></h3>
  <h3><%= link_to 'Delete this Event', @event, method: :delete %></h3>
<% elsif @user && !@user.attendances.include?(@event) && @event.capacity > 0 %>
  <h3><%= link_to 'RSVP for this Event', register_event_path(@event), method: :post %></h3>
<% elsif @user && !@user.attended_events.include?(@event) && !@user.waitlisted_events.include?(@event) && @event.capacity == 0 %>
  <h3><%= link_to 'Add me to Wait List', register_event_path(@event), method: :post %></h3>
<% elsif @user && @user.waitlisted_events.include?(@event) %>
  <h3><%= link_to 'Remove me from Wait List', unregister_event_path(@event), method: :post %></h3>
<% end %>