<% if flash[:notice] %>
  <ul class="flashes">
    <% flash.each do |msg| %>
      <li class="<%= msg[0] %>"><%= msg[1] %></li>
    <% end %>
  </ul>
<% end %>
<div class="event">

  <div class="date">
    <div class="day"><strong><%= @event.date.strftime('%a') %></strong></div>
    <div class="day"><%= @event.date.strftime('%b %d') %></div>
    <% if @event.event_pic.present? -%>
      <%= image_tag(@event.event_pic) -%>
    <% end -%>
  </div>
  <div class="event_info">
    <div class="title"><strong><%= @event.name %></strong></div>
    <div class="time"><strong>When</strong>: <%= @event.date.strftime('%b %d, %Y') %></div>
    <div class="time">Start: <%= @event.start_time %> </div>
    <div class="time">End: <%= @event.end_time %> </div>
    <div class="description"><%= @event.description %></div>
    <div class="location"><%= @event.location %></div>
    <div class="city"><%= @event.city %></div>
    <div class="category"><%= @event.category %></div>
  </div>



  <div class="event_buttons">
    <% if current_user %>
      <div class="capacity">Tickets Remaining: <%= @event.tickets_remaining %></div>
    <% end %>
    <% if current_user %>
      <% if @event.user_id == current_user.id %>
        <%= link_to 'Edit this Event', edit_event_path(@event) %>
        <%= link_to 'Delete this Event', @event, method: :delete %>
      <% elsif !current_user.registrations.exists?(event_id: @event.id) && @event.tickets_remaining > 0 %>
        <%= link_to 'RSVP for this Event', event_registrations_path(@event.id), method: :post %>

      <% elsif current_user.registrations.exists?(event_id: @event.id) && @event.tickets_remaining > 0 %>
        <% @registration_id = current_user.registrations.find_by(event_id: @event.id) %>
        <%= link_to 'Unregister for this Event', event_registration_path(@event.id, @registration_id.id), method: :delete %>
      <% elsif !current_user.attended_events.include?(@event) && !current_user.waitlisted_events.include?(@event) && @event.tickets_remaining == 0 %>
        <%= link_to 'Add me to Wait List', event_registrations_path(@event), method: :post %>
      <% elsif current_user.waitlisted_events.include?(@event) %>
        <%= link_to 'Remove me from Wait List', event_registration_path(@event, current_user), method: :delete %>
      <% end %>
    <% end %>
  </div>

</div>