<div class="authentication_form">
  <h2>Please Login</h2>
  <% if flash[:error] || flash[:notice] %>
    <ul class="flashes">
      <% flash.each do |msg| %>
        <li class="<%= msg[0] %>"><%= msg[1] %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @user, {url: '/login', :method => 'post'} do |f| %>
    <p>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </p>
    <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </p>
    <%= f.submit "Submit" %>
  <% end %>
  <%= link_to 'Forgot password?', new_reset_passwords_path %>

</div>