<!DOCTYPE html>
<html>
<head>
  <title>G2EventManager</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="content">
    <h1><%= link_to('EventLite', root_path, class: "brand") %></h1>

    <div class="authentication">
      <%= link_to 'Add Event', new_event_path, class: "add_event" %>
      <% if current_user %>
        <%= current_user.email %>
        <%= link_to 'My Events', current_user, class: "my_events" %>
        <%= link_to 'Logout', login_path(current_user), method: :delete, class: "logout" %>
      <% else %>
        <%= link_to 'Register', new_user_path, class: "register" %>
        <%= link_to 'Login', new_login_path, class: "login" %>
      <% end %>
    </div>
  </div>
</header>
<main>
  <div class="content">
    <%= yield %>
  </div>
</main>
<footer>
  <div class="content">
    <p>&copy; g2 Consultants</p>
    </div>
</footer>

</body>
</html>
